In [ ]:
print("dfsbnsdm")

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
data = pd.read_csv('used_cars_data (1).csv')

In [ ]:
data.head(5)

In [ ]:
data.tail()

In [ ]:
data.info()

In [ ]:
# Remove S.No. column from data
data = data.drop(['S.No.'], axis = 1)
data.info()

In [ ]:
from datetime import date
date.today().year
data['Car_Age']=date.today().year-data['Year']
data.head()

In [ ]:
data['Brand'] = data.Name.str.split().str.get(0)

In [ ]:
data['Model'] = data.Name.str.split().str.get(1) + data.Name.str.split().str.get(2)

In [ ]:
data[['Name','Brand','Model']]

In [ ]:
print(data.Brand.unique())
print(data.Brand.nunique())

In [ ]:
searchfor = ['Isuzu' ,'ISUZU','Mini','Land']
data[data.Brand.str.contains('|'.join(searchfor))].head(5)

In [ ]:
data["Brand"].replace({"ISUZU": "Isuzu", "Mini": "Mini Cooper","Land":"Land Rover"}, inplace=True)

In [ ]:
data.describe().T

In [ ]:
data.describe(include='all').T

In [ ]:
cat_cols=data.select_dtypes(include=['object']).columns
num_cols = data.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)

In [ ]:
owner_counts = data['Owner_Type'].value_counts()

# Bar Plot
plt.figure(figsize=(7, 4))
owner_counts.plot(kind='bar', color='teal')
plt.title('Distribution of Owner Types')
plt.xlabel('Owner Type')
plt.ylabel('Number of Cars')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
transmission_counts = data['Transmission'].value_counts()
plt.figure(figsize=(6, 4))
transmission_counts.plot(kind='bar', color='orange')
plt.title('Distribution of Transmission Types')
plt.xlabel('Transmission Type')
plt.ylabel('Number of Cars')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
transmission_counts.plot(kind='pie', autopct='%1.1f%%', startangle=90)
plt.title('Transmission Type Distribution')
plt.ylabel('')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(8, 5))
data['Price'].dropna().plot(kind='hist', bins=30, color='red', edgecolor='black')
plt.title(' Car Prices')
plt.xlabel('Price')
plt.ylabel('Number of Cars')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
fuel_mileage = data_clean.groupby('Fuel_Type')['Mileage'].mean().sort_values(ascending=False)

plt.figure(figsize=(8, 5))
fuel_mileage.plot(kind='bar', color='yellow', edgecolor='black')
plt.title('Average Mileage by Fuel Type')
plt.xlabel('Fuel Type')
plt.ylabel('Average Mileage')
plt.grid(True, axis='y')
plt.tight_layout()
plt.show()

In [ ]:
data_clean = data.dropna(subset=['Mileage', 'Car_Age'])
plt.figure(figsize=(10, 6))
plt.scatter(data_clean['Car_Age'], data_clean['Mileage'],  color='green', edgecolors='black')
plt.title('Scatter Plot of Mileage by Car Age')
plt.xlabel('Car Age')
plt.ylabel('Mileage')
plt.grid(True)
plt.tight_layout()
plt.show()